body {
	background-color: #6B8144;
	font-family: 'Lato', sans-serif;
	width: 90%;
	margin: 0 auto;
}

.login {
	float: right;
	margin-bottom: 1%;
}



//navbar css
nav {
	clear: both;
	background-color: rgba(0, 0, 0, 0.4);;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	margin-top: 1em;
}
li {
	display: inline;
	font-size: 1em;
	text-decoration: none;
	padding: 2%;
}

li:nth-child(5){
	padding-left: 15%;
}
li:nth-child(4){
	padding-right: 15%;
}
form {
	background-color: #6B8144;
	margin-right: 0;
	padding-bottom: 1em
}

.players {
	background-color: #6B8144;
	float: left;
	padding: 0 18em 38px 1em;
}
input {
	background-color: #6B8144;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 2em;
	margin-top: 18px;
	margin-bottom: 16px;
}

input:focus {
    outline-width: 0;
}

.fa {
	font-size: 2em;
	opacity: 0.5;
}

table a {
	text-decoration: none;
	color: black;
}
table a:visited {
	color: black;
}
table td a {
	color: blue;
}
table td a:visited {
	color: blue;
}
.right-border {
	border-right: 1px solid #d5d5d5;
}
.center {
	text-align: center;
}
nav a {
	text-decoration: none;
	color: white;
}
nav a:visited {
	color: white;
}

.main-content{
	background-color: #F5F5F5;
}
//Search Bar
.table-width {
	width: 80%;
}
